/*Estilos generales*/

/*Colores
Principal #A62E2E
Secundario #D94E4E
Letras #D9B6A3
*/
@font-face {
    font-family: 'roboto italic medium';
    src: url(../fonts/Emberly/EmberlyBlack.ttf);
}
html{
    font-size: 62.5%;/*10px*/
}

/* Estilos globales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header{
    background-color: #A62E2E;
}
main{
    background-color: #e66969;
}
footer{
    background-color: #A62E2E;
}

/*Estilos Header*/

a {
    text-decoration: none;
    color: #2617ad;
    font-family: 'Rubik', sans-serif;;
    font-size: 2%;
    font-weight: 300 ;
}

ul {
    list-style-type: none;
}
.logo img{
    margin: 0;
    width: 10rem; /* Establece el ancho de la imagen*/
    height: auto;
}

.navbar_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background-color: #A62E2E;
    color: #D9B6A3;
    text-decoration: none;
}

/*Estilos main*/

.main_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: #A62E2E;
    color: #D9B6A3;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    justify-content: center;
}
.main_text{
    padding-top: 2.5rem;
}

.img-fluid{
    padding: 1rem;
}

/*Estilos footer*/

.footer_style{
    padding-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #A62E2E;
    color: #D9B6A3;
    padding-bottom: 2.5rem;

}

footer img{
    margin: 0;
    width: 5rem; /* Establece el ancho de la imagen*/
    height: auto;
}

.redes{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

/*Estilos Inicio*/

/*Estilo Comienzos*/

.comienzos_text{
    padding: 1rem;
}

div p{
    padding: 1rem;
}
div h1{
    font-size: 3rem; 
}

/*Estilos Musica*/

/*Estilos Multimedia*/

/*Estilos Comentarios*/