.footer_style{
    padding-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #A62E2E;
    color: #D9B6A3;
    padding-bottom: 2.5rem;

}

footer img{
    margin: 0;
    width: 5rem; /* Establece el ancho de la imagen*/
    height: auto;
}

.redes{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}