/*Estilos Nav*/
a {
    text-decoration: none;
    color: #2617ad;
    font-family: 'Rubik', sans-serif;;
    font-size: 2%;
    font-weight: 300 ;
}

ul {
    list-style-type: none;
}
.logo img{
    margin: 0;
    width: 10rem; /* Establece el ancho de la imagen*/
    height: auto;
}

.navbar_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background-color: $color-principal;
    color: $color-letras;
    text-decoration: none;
}