.main_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: #A62E2E;
    color: #D9B6A3;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    justify-content: center;
}
.main_text{
    padding-top: 2.5rem;
}

.img-fluid{
    padding: 1rem;
}