//Estilos home
.main_style{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: $color-secundario;
    color: $color-letras;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    justify-content: center;
}
.main_text{
    padding-top: 2.5rem;
}

.img-fluid{
    padding: 1rem;
}