//Estilos multimedia
.cont-imagen{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.imagen-multi{
    max-height: 30rem;
    max-width: 30rem;

}
.con-imagen{
    padding: 5rem;
}
.esp{
    padding: 1rem;
    justify-content: center;
}

.vide-multi{
    max-height: 30rem;
    max-width: 90rem;
}

.con-video{
    padding: 2rem;
}