.cont-imagen{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.imaogen-alt{
    height: 300rem
}
.img-fluid{
    height: 50rem;
}
.esp{
    padding: 1rem;
    justify-content: center;
}