
.tex-musi{
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.cont-canciones{
    padding-top: 5rem;
}
.canciones{
    padding: 2.5rem;
}