/* Estilos globales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header{
    background-color: #A62E2E;
}
main{
    background-color: #D94E4E;
}
footer{
    background-color: #A62E2E;
}

html{
    font-size: 62.5%;/*10px*/
}